.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.zoom{
    transition: transform .5s;
}
.zoom:hover{
    transform: scale(1.05);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    text-align: center;
  }
  .button1:after {
    background: #2c3e50;
  }
  .ctn {
    display: block;
    margin: auto;
    text-align: center;
  }
  .b-blue, .b-blue:before {
    background: rgba(5,118,255,1);
    background: -moz-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(5,118,255,1)), color-stop(100%, rgba(36,248,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0576ff', endColorstr='#24f8ff', GradientType=1 );
  }
  .button1 {
    display: inline-block;
    position: relative;
    border-radius: 1px;
    text-decoration: none;
    padding: .1em;
    margin: .1em;
    font-size: 2em;
    font-weight: bold;
    transition: all .5s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .button1:hover {
    text-shadow: 0px 0px 0px rgba(9, 39, 206, 0.75);
  }
  .button1:hover:after {
    left: 100%;
    top: 100%;
    bottom: 100%;
    right: 100%;
  }
  .button1:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 1px;
    transition: all .5s;
  }
  .button1:after {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 2px;
    z-index: -1;
    border-radius: 5px;
    transition: all .5s;
  }
  .rot-360-noscoop:hover {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
  .rot-135:hover {
    filter: hue-rotate(135deg);
  }
  .rot-90:hover {
    filter: hue-rotate(90deg);
  }  
  .content1 {
    width: auto;
    margin-top: 1.5%;
    margin-left:5%;
    margin-right:5%;
    padding-left: 1%;
    padding-right: 1%;
    color: #ffffff;
    background: white;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    padding-top: 3%;
    padding-bottom: 0%;
    margin-bottom: 5%;
}
.datagrid table { 
  border-collapse: collapse; 
  text-align: left; 
  width: 100%; 
} 

.datagrid {
  font: normal 25px/150% Arial, Helvetica, sans-serif;
  background: #fff; 
  overflow: hidden; 
  border: 1px solid #006699; 
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px; 
}

.datagrid table td, .datagrid table th { 
  padding: 3px 10px; 
}

.datagrid table thead th {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
  background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
  background-color:#006699; color:#FFFFFF; 
  font-size: 15px; 
  font-weight: bold; 
  border-left: 1px solid #0070A8; 
} 

.datagrid table thead th:first-child {
  border: none; 
}

.datagrid table tbody td { 
  color: #00557F; 
  border-left: 1px solid #E1EEF4;
  font-size: 12px;font-weight: normal; 
}

.datagrid table tbody .alt td { 
  background: #E1EEf4; 
  color: #00557F; 
}

.datagrid table tbody td:first-child { 
  border-left: none; 
}

.datagrid table tbody tr:last-child td { 
  border-bottom: none; 
}

.datagrid table tfoot td div { 
  border-top: 1px solid #006699;
  background: #E1EEf4;
} 

.datagrid table tfoot td { 
  padding: 0; 
  font-size: 12px 
} 

.datagrid table tfoot td div{ 
  padding: 2px; 
}

.datagrid table tfoot td ul { 
  margin: 0; 
  padding:0; 
  list-style: none; 
  text-align: right; 
}

.datagrid table tfoot  li { 
  display: inline; 
}

.datagrid table tfoot li a { 
  text-decoration: none; 
  display: inline-block;  
  padding: 2px 8px; 
  margin: 1px;color: #FFFFFF;
  border: 1px solid #006699;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px; 
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
  background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
  background-color:#006699; 
}

.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { 
  text-decoration: none;
  border-color: #00557F; 
  color: #FFFFFF; 
  background: none; 
  background-color:#006699;
}

div.dhtmlx_window_active, div.dhx_modal_cover_dv { 
  position: fixed !important; 
}