.content1 {
    width: auto;
    margin-top: 1.5%;
    margin-left:5%;
    margin-right:5%;
    padding-bottom: 65px;
    padding-left: 10px;
    color: #ffffff;
    background: white;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    margin-bottom: 1%;
    padding-right: 2%;
}