.content1 {
    width: auto;
    margin-top: 1.5%;
    margin-left:6%;
    margin-right:6%;
    padding-bottom: 65px;
    padding-left: 10px;
    color: #ffffff;
    background: white;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 10px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%;
}

.button.small1 {
    font-size: 0.6rem;
    height: 3em;
    line-height: 3.325em;
    border-radius: 0.825em;
    padding: 0 1em;
    margin-top: auto;
}

.linea1 {
    display: inline-block;
    margin-right: 25px;
}

.jquery-modal  .modal{
    background-color: #d5d9e5;
    max-width: 900px;
}