.content1 {
    width: auto;
    margin-top: 4.5%;
    margin-left:12%;
    margin-right:12%;
    padding-left: 3%;
    padding-right: 5%;
    color: #ffffff;
    background: white;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
}